<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <application>
        <activity
            android:name="com.cscjapp.aiworkbench.android.AIWorkbenchActivity"
            android:exported="false"
            android:theme="@style/aiw_WorkbenchTheme"
            android:windowSoftInputMode="adjustResize"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize|smallestScreenSize" />
        <service
            android:name="com.cscjapp.aiworkbench.android.AIWorkbenchRunService"
            android:exported="false"
            android:foregroundServiceType="dataSync" />
    </application>
</manifest>
